<!DOCTYPE html>
<html>
    <body>
    <form action="checkout" method="POST">
    Name of Item: <input type="text" id="item" name="item">
    <input type="submit" id="submit" value="submit">
    </form>
    </body>
</html>
